@font-face {
    font-family: Inconsolata;
    src: url(fontes/Inconsolata/inconsolata.ttf);
}

body{
    background-image: url(img/bg-home.jpg);
    background-size: 2000px;
    padding: 20em;
    font-family: Inconsolata;
    
}

h1 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 1.3;
}

li{
    color: burlywood;
    list-style-type: square;
}

.container {
    margin-top: 100px;
    max-width: 100%;
    
    
}

.form-control{
    margin-top: 50px;
}

.card {
    margin-top: 50px;
    margin-bottom:  50px;
    
}

.btn {
    margin-top: 10px;
    margin-right: 5px;
    
}



